<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.uwaterloo.newsapp">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ca.uwaterloo.newsapp.ui.login.LoginActivity" android:theme="@style/AppTheme.Dark" />
        <activity android:name="ca.uwaterloo.newsapp.ui.signup.SignupActivity" android:theme="@style/AppTheme.Dark" />
        <activity android:name="ca.uwaterloo.newsapp.ui.news.NewsActivity" android:theme="@style/AppTheme.Dark" />
    </application>

</manifest>